#jupiter {
  border-top: 5px solid #ecad79;
}

#geologyJupiterImg {
  height: 200px;
  margin-top: -11rem;
}

#infoJupiter {
  padding: 0 0 0 190px;
}

#btnJ button {
  &.active {
    background: #d93b36;
  }
}
