body {
  font-family: "Spartan", sans-serif;

  nav ul li a {
    &.active {
      border-top: 5px solid #def4fc;
    }
  }

  .mercury {
    @include flex(flex-end, center);
    min-height: 90vh;
    padding: 0 160px;

    &Info {
      padding: 0 50px 0 190px;

      h1 {
        font-size: 5rem;
        text-transform: uppercase;
        font-family: "Antonio", sans-serif;
        font-weight: 500;
        padding-bottom: 20px;
      }

      p {
        max-width: 350px;
        font-size: 0.9rem;
        font-weight: 500;
        opacity: 0.8;
        line-height: 25px;
      }

      h3 {
        padding: 30px 0;
        font-weight: 100;
        font-size: 0.9rem;

        span {
          font-weight: 600;
          text-decoration: underline;
          opacity: 0.6;
          padding-right: 5px;
        }
      }
    }

    .buttonContainer {
      @include flex(center, flex-start);
      flex-direction: column;

      button {
        background: none;
        color: #fff;
        font-family: "Spartan", sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        text-align: start;
        letter-spacing: 4px;
        padding: 15px 0;
        margin: 10px 0;
        border: 1px solid #494949;
        width: 100%;
        cursor: pointer;
        transition: all 500ms ease;

        &.active {
          background: #419db9;
        }

        &:hover {
          background: #333333;
        }

        span {
          padding: 0 20px;
          opacity: 0.5;
        }
      }
    }
  }
}
