@include mediaLarge {
  .main {
    @include flex(center, center);
    flex-direction: column;

    #geologyVenusImg,
    #geologyEarthImg,
    #geologyMarsImg,
    #geologyJupiterImg,
    #geologySaturnImg,
    #geologyUranusImg,
    #geologyNeptuneImg {
      height: 130px !important;
      margin-top: -8rem !important;
    }

    #geologyImg,
    #geologyMarsImg {
      height: 100px !important;
      margin-top: -5rem !important;
    }

    #geologySaturnImg {
      margin-top: -12rem !important;
    }

    #mercuryImg,
    #venusImg,
    #earthImg,
    #marsImg,
    #jupiterImg,
    #uranusImg,
    #neptuneImg,
    #saturnImg {
      margin: 3rem 0;
    }

    #mercuryImg {
      max-width: 184px;
    }

    #venusImg {
      max-width: 253px;
    }

    #earthImg {
      max-width: 285px;
    }

    #marsImg {
      max-width: 213px;
    }

    #jupiterImg {
      max-width: 369px;
    }

    #uranusImg {
      max-width: 290px;
    }

    #neptuneImg {
      max-width: 285px;
    }

    #saturnImg {
      max-width: 422px;
    }

    .planetInfo {
      min-width: 100%;
      padding: 0 25px !important;
      @include flex(space-between, center);
    }

    .buttonContainer button {
      padding: 15px 20px !important;

      span {
        padding: 0 5px !important;
      }
    }
  }

  .otherInfo div h1 {
    font-size: 1.5rem !important;
  }
}

@include mediaMediumLarge {
  nav {
    flex-direction: column;

    h1 {
      padding: 30px 0;
    }
  }

  nav ul li a.active,
  #earth,
  #jupiter,
  #uranus,
  #saturn,
  #neptune,
  #mercury,
  #mars {
    border-top: 0;
  }

  .otherInfo {
    div {
      width: 23% !important;
      padding: 10px 30px 15px 10px !important;

      h1 {
        font-size: 1.5rem !important;
      }
    }
  }
}

@include mediaMedium {
  nav {
    flex-direction: row;
  }

  #hamburgerBtn {
    display: block !important;
  }

  .links {
    display: none;

    &.active {
      display: block;
    }
  }

  .planetInfo {
    text-align: center;
    flex-direction: column;
    margin: 2rem 0;

    p {
      max-width: 500px !important;
      padding: 0 20px;
    }

    .buttonContainer {
      width: 100%;
    }
  }

  .otherInfo {
    flex-direction: column;

    div {
      width: 95% !important;
      margin: 1rem 0;
      @include flex(space-between, center);
      padding: 10px 5px !important;

      h5 {
        padding-bottom: 0 !important;
      }
    }
  }
}
