nav ul li a.active {
  border-top: 5px solid #f7cc7e;
}

#mercuryV:hover {
  border-top: 5px solid #def4fc;
  transition: all 300ms ease;
}

#btnV button.active {
  background: #eda44a;
}

#geologyVenusImg {
  height: 200px;
  margin-top: -5rem;
}
