@import "config";
@import "mercury";
@import "venus";
@import "earth";
@import "mars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000 url("../../images/background-stars.svg");
  color: #fff;
  font-family: "Spartan", sans-serif;

  nav {
    @include flex(space-between, center);
    padding: 0 30px;
    text-transform: uppercase;
    border-bottom: 1px solid #494949;

    ul {
      @include flex(space-between, center);
      list-style-type: none;
      font-family: "Spartan", sans-serif;

      li {
        font-size: 0.8rem;
        font-weight: 700;
        margin: 0 15px;

        a {
          color: #fff;
          opacity: 0.7;
          display: block;
          padding: 30px 0;
          text-decoration: none;

          &.active {
            opacity: 1;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    h1 {
      font-size: 1.75rem;
      font-family: "Antonio", sans-serif;
      font-weight: 400;
    }
  }
}

.main {
  @include flex(flex-end, center);
  min-height: 90vh;
  // padding: 0 160px;
  max-width: 1100px;
  margin: 0 auto;

  .images {
    @include flex(center, center);
    flex-direction: column;

    #geologyImg {
      height: 200px;
      margin-top: -2rem;
    }
  }

  .planetInfo {
    padding: 0 50px 0 190px;

    h1 {
      font-size: 5rem;
      text-transform: uppercase;
      font-family: "Antonio", sans-serif;
      font-weight: 500;
      padding-bottom: 20px;
    }

    p {
      max-width: 350px;
      font-size: 0.9rem;
      font-weight: 500;
      opacity: 0.8;
      line-height: 25px;
    }

    h3 {
      padding: 30px 0;
      font-weight: 100;
      font-size: 0.9rem;

      a {
        color: #fff;
        font-weight: 800;
        text-decoration: underline;
        opacity: 0.5;
        padding: 0 5px;

        img {
          opacity: 1;
          padding: 0 5px;
        }
      }
    }

    .buttonContainer {
      @include flex(center, flex-start);
      flex-direction: column;

      button {
        background: none;
        color: #fff;
        font-family: "Spartan", sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        text-align: start;
        letter-spacing: 4px;
        padding: 15px 0;
        margin: 10px 0;
        border: 1px solid #494949;
        width: 100%;
        cursor: pointer;
        transition: all 500ms ease;

        &:hover {
          background: #333333;
        }

        span {
          padding: 0 20px;
          opacity: 0.5;
        }
      }
    }
  }
}

.otherInfo {
  @include flex(space-evenly, center);
  margin-bottom: 2rem;
  padding: 0 130px;

  div {
    border: 1px solid #494949;
    width: 20%;
    padding: 30px 50px 30px 20px; //top right bottom left
    text-transform: uppercase;

    h5 {
      opacity: 0.5;
      padding-bottom: 10px;
      font-size: 0.7rem;
    }

    h1 {
      font-size: 2.5rem;
      font-family: "Antonio", sans-serif;
    }
  }
}

#mercuryOther:hover {
  border-top: 5px solid #def4fc;
  transition: all 300ms ease;
}

#venusOther:hover {
  border-top: 5px solid #f7cc7e;
  transition: all 300ms ease;
}

#earthOther:hover {
  border-top: 5px solid #5358fb;
  transition: all 300ms ease;
}

#marsOther:hover {
  border-top: 5px solid #ff6c47;
  transition: all 300ms ease;
}
