@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin mediaLarge {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin mediaMediumLarge {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin mediaMedium {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaSmall {
  @media screen and (max-width: 480px) {
    @content;
  }
}
