.system {
  @include flex(space-evenly, flex-end);
  min-height: 50vh;

  #mercury {
    height: 50px;
  }

  #venus {
    height: 120px;
  }

  #earth {
    height: 150px;
  }

  #mars {
    height: 70px;
  }

  #jupiter,
  #saturn,
  #uranus,
  #neptune {
    height: 180px;
  }
}
