@include mediaLarge {
  .main {
    @include flex(center, center);
    flex-direction: column;

    .images #geology {
      height: 130px;
      margin-top: -8rem;
    }

    #planet {
      margin: 3rem 0;
      max-width: 285px;
    }

    .planetInfo {
      min-width: 100%;
      padding: 0 25px;
      @include flex(space-between, center);
    }
  }

  .otherInfo div h1 {
    font-size: 1.5rem;
  }
}

@include mediaMediumLarge {
  nav {
    flex-direction: column;

    h1 {
      padding: 30px 0;
    }
  }

  .otherInfo {
    div {
      width: 23%;
      padding: 10px 30px 15px 10px;

      h1 {
        font-size: 1.5rem;
      }
    }
  }
}

@include mediaMedium {
  nav {
    flex-direction: row;

    #hamburgerBtn {
      display: block !important;
      z-index: 2;
    }
  }

  .fix {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    z-index: 1;

    &.active {
      display: block;
    }

    .links {
      @include flex(center, center);
      flex-direction: column;
      height: 100%;

      li {
        width: 90%;
        font-size: 0.9375rem;
        @include flex(flex-start, center);

        div {
          width: 15px;
          height: 15px;
          border-radius: 50%;
        }

        #mercuryBall {
          background-color: #def4fc;
        }

        #venusBall {
          background-color: #f7cc7e;
        }

        #earthBall {
          background-color: #5358fb;
        }

        #marsBall {
          background-color: #ff6c47;
        }

        #jupiterBall {
          background-color: #ecad79;
        }

        #saturnBall {
          background-color: #fccb69;
        }

        #uranusBall {
          background-color: #66f0d4;
        }

        #neptuneBall {
          background-color: #477dfa;
        }
      }

      a {
        padding: 20px 10px;
        margin-left: 10px;
        @include flex(flex-start, center);
        border-bottom: 1px solid #494949;
        width: 100%;
      }
    }
  }

  .planetInfo {
    text-align: center;
    flex-direction: column;
    margin: 2rem 0;

    p {
      max-width: 500px;
      padding: 0 10px;
    }

    .buttonContainer {
      width: 100%;
    }
  }

  .otherInfo {
    flex-direction: column;

    div {
      width: 95%;
      margin: 1rem 0;
      @include flex(space-between, center);
      padding: 10px 10px;

      h5 {
        padding-bottom: 0;
      }
    }
  }
}

@include mediaSmall {
  .main {
    #planet {
      max-width: 200px;
    }
  }

  .buttonContainer button {
    text-align: center !important;
    padding: 20px 10px !important;

    span {
      display: none;
    }
  }
}
